@using GoshenJimenez.MercadiaII.Web.Infrastructure.Data.Models;
@model GoshenJimenez.MercadiaII.Web.ViewModels.Users.IndexViewModel;
@{
    ViewData["Title"] = "Welcome to Mercadia";
}


<h2>Users</h2>
<ul>
    @{foreach(User user in Model.Users)
        {
        <li>@user.FullName    @user.Gender.ToString()  @user.EmailAddress</li>
        }
        }
</ul>
